// 系统行为颜色
$ku-color-primary: #007aff;  // 系统默认颜色
$ku-color-success: #4cd964; // 成功相关颜色
$ku-color-warning: #f0ad4e; // 警告相关颜色
$ku-color-error: #dd524d; // 错误相关颜色

// 文字大小
$ku-font-size-base:28rpx;  // 系统文字基础大小
$ku-font-size-sm:23rpx; // 系统小号文字
$ku-font-size-lg:30rpx; // 系统大号文字

// 文字颜色
$ku-text-color-base:#333; // 系统文字基本色
$ku-text-color-inverse:#fff;// 系统文字反色
$ku-text-color-grey:#999; // 辅助灰色，如加载更多的提示信息
$ku-text-color-placeholder: #808080; // 占位符
$ku-text-color-disable:#c0c0c0;  // 禁止禁用文字颜色

// 背景颜色
$ku-bg-color-white:#ffffff; // 白色背景颜色
$ku-bg-color-grey:#f8f8f8; // 灰色
$ku-bg-color-hover:#f1f1f1; //点击状态颜色