// 系统行为颜色
$ku-color-primary: #007aff;
$ku-color-success: #4cd964;
$ku-color-warning: #f0ad4e;
$ku-color-error: #dd524d;

// 文字大小
$ku-font-size-sm:12rpx;
$ku-font-size-base:28rpx;
$ku-font-size-lg:16rpx;