/**
 * 由于nvue不支持box-sizing所有封装一下，减少需要条件编译的代码
 */
@mixin borderBox {
	/* #ifndef APP-NVUE */
	box-sizing: border-box;
	/* #endif */
}

/**
 * 浮动z-index层级
 * @params $level 
 * 	@value lower  
 * 	@value middle
 * 	@value top
 */
@mixin zIndex($level: lower) {
	@if $level == lower {
		z-index: 1000;
	} @else if $level == middle {
		z-index: 1100;
	} @else if $level == top{
		z-index: 1200;
	} @else {
		z-index: 1000;
	}
}

/**
 * 默认弹性盒子
 */
@mixin flex ($direction:column,$justifyContent:flex-start) {
	/* #ifndef APP-NVUE */
	display: flex;
	/* #endif */
	flex-direction: $direction;
}